version: '3.8'
services:
  trial:
    image: masayamanaka/trial:latest
    environment:
      RAILS_ENV: development
      TZ: Asia/Tokyo
      USER: docker
    ports:
     - 3000:3000
    volumes:
     - ./storage:/rails/storage
    tty: true
